{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<body class="text-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <form class="form-signin" method="post">
          {% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
          <label for="inputEmail" class="sr-only">Username</label>
          {% render_field form.username type="text" class="form-control" placeholder="Username" required="true" %}
          {% if form.username.errors %}
          {% for error in form.username.errors %}
          <div class="alert alert-warning">
            {{ error }}
          </div>
          {% endfor %}
          {% endif %}
          <label for="inputPassword1" class="sr-only">Password</label>
          {% render_field form.password1 type="password" class="form-control" placeholder="Password" required="true" %}
          {% if form.password1.errors %}
          {% for error in form.password1.errors %}
          <div class="alert alert-warning">
            {{ error.text }}
          </div>
          {% endfor %}
          {% endif %}
          <label for="inputPassword2" class="sr-only">Password</label>
          {% render_field form.password2 type="password" class="form-control" placeholder="Confirm password" required="true" %}
          {% if form.password2.errors %}
          {% for error in form.password2.errors %}
          <div class="alert alert-warning">
            {{ error.text }}
          </div>
          {% endfor %}
          {% endif %}
          {% if form.non_field_errors %}
          <div class="alert alert-warning">
            {{ form.non_field_errors }}
          </div>
          {% endif %}

          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    // Passwords check
    var password = document.getElementById("id_password1"),
      confirm_password = document.getElementById("id_password2");

    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>

</body>
{% endblock %}
